$white: #fafafa;
$black: #0e0e0e;
$error: #bd1e1e;
$primary: #ff5733;

$layout-border-radius: 7px;
$button-border-radius: 3px;

$layout-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$button-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;